<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yd Art Project</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/css/templatemo-style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="http://waterclean.pe.kr">
                        <div class="logo-image" style="align-items:center; display: flex; justify-content:center;">
                            <img src='../static/img/home.png' width="25" height="25">
                        </div>
                    </a>
                </div>
            </nav>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">

            </ul>
            </div>
        </div>
    </nav>

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="../static/img/hero.jpg">
        <form class="d-flex tm-search-form" action = "http://www.waterclean101.shop/model">
            <input class="form-control form-control-lg" type="Search" placeholder="URL" name='url' aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" onclick="location.href='http://www.waterclean101.shop/model'" type="submit">
                <i class="fas fa-search"></i>
            </button>
            </input>
        </form>
    </div>
    <div style="text-align:center">
        <br><br>
        <p><h3><strong>'How-to' Guide</strong></h3></p>
    </div>
    <div class="container-fluid tm-container-content tm-mt-60" style="text-align:center">
        <video class="intro" style="width:50%; height:40%" src="../static/img/intro.mp4" controls preload></video>
    </div>
    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row tm-mb-60 tm-gallery d-flex justify-content-center">
        	<div class="col-lg-2 col-md-6">
                <figure class="effect-ming tm-video-item">
                    <img src="../static/img/Gogh.jpg" class="img-thumbnail" alt="">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>
                        <font size = "4">Van_Gogh</font><br><br>
                        <font size = "3">빈센트 &nbsp; 반 &nbsp;고흐</font>
                        </h2> 
                        <a href="https://www.google.com/search?q=vincent+van+gogh+paintings+pinterest&tbm=isch&ved=2ahUKEwiQkP3q1df6AhXhKKYKHREKDx8Q2-cCegQIABAA&oq=vincent+van+gogh+paintings+pinterest&gs_lcp=CgNpbWcQAzoECCMQJzoJCAAQgAQQChAYOggIABCABBCxAzoFCAAQgARQyQdY2jBgkDloAHAAeACAAXCIAZQKkgEDNi43mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=fx1FY9DUMOHRmAWRlLz4AQ&bih=686&biw=1264"
                        target ='_black'>View more</a>
                    </figcaption>                    
                </figure>
            </div>
            <div class="col-lg-2 col-md-6">
                <figure class="effect-ming tm-video-item">
                    <img src="../static/img/Degas.jpg" class="img-thumbnail" alt="">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>
                        <font size = "4">Edgar_Degas</font><br><br>
                        <font size = "3"> 에드가 &nbsp; 드가</font>
                        </h2>
                        <a href="https://www.google.com/search?q=Edgar+Degas+paintings+pinterest&tbm=isch&hl=ko&sa=X&ved=2ahUKEwjzqbWH1tf6AhVqzosBHbrpCagQBXoECAEQRQ&biw=1877&bih=967"
                        target ='_black'>View more</a>
                    </figcaption>                    
                </figure>
            </div>
            <div class="col-lg-2 col-md-6">
                <figure class="effect-ming tm-video-item">
                    <img src="../static/img/Picasso.jpg" class="img-thumbnail" alt="">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>
                        <font size = "4">Pablo_Picasso</font><br><br>
                        <font size = "3"> 파블로 &nbsp; 피카소</font>
                        </h2>
                        <a href="https://www.google.com/search?q=Pablo+Picasso+paintings+pinterest&tbm=isch&hl=ko&sa=X&ved=2ahUKEwjd2raR1tf6AhX30YsBHeLjDXIQBXoECAEQQA&biw=1877&bih=967"
                        target ='_black'>View more</a>
                    </figcaption>                    
                </figure>
            </div>
            <div class="col-lg-2 col-md-6">
                <figure class="effect-ming tm-video-item">
                    <img src="../static/img/Renoir.jpg" class="img-thumbnail" alt="">
                    <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>
                            <font size = "4">Pierre-Auguste_Renoir</font><br><br>
                            <font size = "3"> 오귀스트 &nbsp; 르누아르</font>
                            </h2>
                            <a href="https://www.google.com/search?q=Pierre-Auguste+Renoir+paintings+pinterest&tbm=isch&hl=ko&sa=X&ved=2ahUKEwjD1f6e1tf6AhVB6pQKHRJuCK8QBXoECAEQRQ&biw=1877&bih=967"
                            target ='_black'>View more</a>
                    </figcaption>                    
                </figure>
            </div>
            <div class="col-lg-2 col-md-6">
                <figure class="effect-ming tm-video-item">
                    <img src="../static/img/Gauguin.jpg" class="img-thumbnail" alt="">
                    <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>
                            <font size = "4">Paul_Gauguin</font><br><br>
                            <font size = "3"> 폴 &nbsp; 고갱</font>
                            </h2>
                            <a href="https://www.google.com/search?q=Paul_Gauguin+paintings+pinterest&tbm=isch&ved=2ahUKEwiV8vyf1tf6AhUrIqYKHbOJCC4Q2-cCegQIABAA&oq=Paul_Gauguin+paintings+pinterest&gs_lcp=CgNpbWcQAzoECCMQJ1CgCVigCWDYEWgAcAB4AIABlgGIAZACkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=7h1FY5XDOavEmAWzk6LwAg&bih=967&biw=1877&hl=ko"
                            target ='_black'>View more</a>
                    </figcaption>                    
                </figure>
            </div>
             </div>
            <div class="row tm-mb-90 tm-gallery d-flex justify-content-center">
            <div class="col-lg-2 col-md-6">
                <figure class="effect-ming tm-video-item">
                    <img src="../static/img/Goya.jpeg" class="img-thumbnail" alt="">
                    <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>
                            <font size = "4">Francisco_Goya</font><br><br>
                            <font size = "3"> 프란시스코 &nbsp; 고야</font>
                            </h2>
                            <a href="https://www.google.com/search?q=Francisco+Goya+paintings+pinterest&tbm=isch&hl=ko&sa=X&ved=2ahUKEwiIxcO91tf6AhUVhJQKHY5VA1EQBXoECAEQPw&biw=1877&bih=967"
                            target ='_black'>View more</a>
                    </figcaption>                    
                </figure>
            </div>
            <div class="col-lg-2 col-md-6">
                <figure class="effect-ming tm-video-item">
                    <img src="../static/img/Rembrandt.jpg" class="img-thumbnail" alt="">
                    <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>
                            <font size = "4">Rembrandt</font><br><br>
                            <font size = "3"> 렘브란트</font>
                            </h2>
                            <a href="https://www.google.com/search?q=Rembrandt+paintings+pinterest&tbm=isch&ved=2ahUKEwjr_Ma-1tf6AhVUx5QKHdnOD7UQ2-cCegQIABAA&oq=Rembrandt+paintings+pinterest&gs_lcp=CgNpbWcQAzoECCMQJ1DMC1jMC2DVDmgAcAB4AIABbogB0wGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=Lx5FY6upBNSO0wTZnb-oCw&bih=967&biw=1877&hl=ko"
                            target ='_black'>View more</a>
                    </figcaption>                    
                </figure>
                </div>
            <div class="col-lg-2 col-md-6">
                <figure class="effect-ming tm-video-item">
                    <img src="../static/img/Sisley.jpg" class="img-thumbnail" alt="">
                    <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>
                            <font size = "4">alfred_sisley</font><br><br>
                            <font size = "3"> 알프레드 &nbsp; 시슬레</font>
                            </h2>
                            <a href="https://www.google.com/search?q=alfred+sisley+paintings+pinterest&tbm=isch&ved=2ahUKEwigxPvH1tf6AhVDA6YKHa7WDG4Q2-cCegQIABAA&oq=alfred+sisley+paintings+pinterest&gs_lcp=CgNpbWcQAzoECCMQJ1CmCVimCWDUEmgAcAB4AIABaIgBywGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=Qh5FY6CbMcOGmAWurbPwBg&bih=967&biw=1877&hl=ko"
                            target ='_black'>View more</a>
                    </figcaption>                    
                    </figure>
            </div>
            <div class="col-lg-2 col-md-6">
                <figure class="effect-ming tm-video-item">
                    <img src="../static/img/Vecellio.jpg" class="img-thumbnail" alt="">
                    <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>
                            <font size = "4">Tiziano Vecellio</font>
                            <font size = "3">(Titian)</font><br><br>
                            <font size = "3"> 티치아노 베셀리오</font>
                            </h2>
                            <a href="https://www.google.com/search?q=Tiziano+Vecellio+paintings+pinterest&tbm=isch&ved=2ahUKEwjD36vT1tf6AhUjNqYKHcQaC7EQ2-cCegQIABAA&oq=Tiziano+Vecellio+paintings+pinterest&gs_lcp=CgNpbWcQAzoECCMQJ1CvC1ivC2CfEWgAcAB4AIABkgGIAfMBkgEDMS4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=Wh5FY8PKKKPsmAXEtayICw&bih=967&biw=1877&hl=ko"
                            target ='_black'>View more</a>                   
                    </figcaption>                    
                </figure>
            </div>
            <div class="col-lg-2 col-md-6">
                <figure class="effect-ming tm-video-item">
                    <img src="../static/img/Chagall.jpg" class="img-thumbnail" alt="">
                    <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>
                            <font size = "4">Marc_Chagall</font><br><br>
                            <font size = "3"> 마르크 &nbsp; 샤갈</font>
                            </h2>
                            <a href="https://www.google.com/search?q=Marc_Chagall+paintings+pinterest&tbm=isch&ved=2ahUKEwiq5dPe1tf6AhWQzosBHdvlCAYQ2-cCegQIABAA&oq=Marc_Chagall+paintings+pinterest&gs_lcp=CgNpbWcQAzoECCMQJ1D9CFj9CGDFEWgAcAB4AIABbIgB0AGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=ch5FY6rkF5Cdr7wP28ujMA&bih=967&biw=1877&hl=ko"
                            target ='_black'>View more</a>
                    </figcaption>                    
                </figure>
            </div>
        </div> <!-- row -->
    <br><br>
    </div> <!-- container-fluid, tm-container-content -->
    <script src="../static/js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>
